table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #f2f2f2; /* light gray */
}
tr:nth-child(odd) {
  background-color: #ffffff; /* white */
}

.center-text {
  text-align: center;
}
